
// Universal
@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
    font-family: 'nexa_boldregular';
    src: url('../fonts/Nexa_Free_Bold-webfont.eot');
    src: url('../fonts/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nexa_Free_Bold-webfont.woff2') format('woff2'),
         url('../fonts/Nexa_Free_Bold-webfont.woff') format('woff'),
         url('../fonts/Nexa_Free_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@color-navy: #367588;
@color-custom: white;

html {
	-webkit-font-smoothing: antialiased;

	 a {
	 	text-decoration: none;
	 }
}

.fadein {
	opacity: 0;
}

	.box {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1002;
		background-color: yellow;
		height: 0.2em;
	}
header {
	position:fixed;
	top: 0;
	width: 100%;
	z-index:100;
	background-color: @color-custom;
	height: 100%;
	-webkit-transform: translate3d(0,0,0);

}

section {
	position: relative;
	background-color: @color-custom;
	z-index: 200;
	top: 55em;


	a {
		text-decoration: none;
		color: #0000FF;
		font-weight: bold;
		cursor: pointer;
	}

}


.footer {
	display: block;
	height: auto;
	width: 100%;
	background-color: #ffffff;
	text-align: left;
	padding-top: 6em;


	p {
		font-family: "Lora", serif;
		font-weight: 400;
		font-style: italic;
		color: gray;
	}
	
	a {
		text-decoration: none;
		color: #000000;
	}

	a:hover {
		color: #0000FF;
	}

	blockquote {
		opacity: 0.4;
		font-size: 1.5em;
		font-style: normal;
		font-weight: 300;
	}

}

.bg {
	position: fixed;
	top: 0;
	left: 0;
	height: 5.6em;
	width: 100%;
	background-color: #ffffff;
	opacity: 0;
	z-index: 1000;
}

/*.bg-square { 
	position: fixed;
	top: 1.65em;
	left: 1.5em;
	background: #ffffff;
	width: 2.8em;
	height: 2.7em;
	opacity: 0;
	z-index: 1000;
	}*/

	.transition {    
		-webkit-transition: all 0.7s ease-in-out;
		-moz-transition: all 0.7s ease-in-out;
		-o-transition: all 0.7s ease-in-out;
		transition: all 0.7s ease-in-out;
	}

	.navbar {
		position: fixed;
		left: 3em;
		top: 3em;
		z-index: 1001;
		background-color: white;

		:hover {
			cursor: pointer;

		}
	}



	.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
		cursor: pointer;
		border-radius: 1px;
		height: 6px;
		width: 40px;
		background: #000000;
		position: absolute;
		display: block;
		content: '';
	}
	.nav-toggle span:before {
		top: -12px;
	}
	.nav-toggle span:after {
		bottom: -12px; 
	}

	.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
		transition: all 500ms ease-in-out;
	}
	.nav-toggle.active span {
		background-color: transparent;
	}
	.nav-toggle.active span:before, .nav-toggle.active span:after {
		top: 0;
	}
	.nav-toggle.active span:before {
		transform: rotate(45deg) ;
	}

	.nav-toggle.active span:after {
		transform: rotate(-45deg) ;
	}



	/* General styles for all menus */
	.cbp-spmenu {
		background: rgba(0,0,0,0);
		position: fixed;
		padding-top: 2.5em;

		margin-left: 0;
	}

	.cbp-spmenu h2 {
		display: inline-block;
		float: left;
		color: #aeaeae;
		font-family: "Lora", serif;
		font-style: italic;
		font-size: 1.5em;
		letter-spacing: -0.05em;

		:hover {
		color: #0000FF;
		-webkit-transition: all 800ms ease;
		-moz-transition: all 800ms ease;
		-ms-transition: all 800ms ease;
		-o-transition: all 800ms ease;
		transition: all 800ms ease;}

	}


	#links {
		float: right;
		text-align: right;
		font-family: "Lora", sans-serif;
		font-weight: bold;
		letter-spacing: -0.05em;
		font-size: 1.5em;

		a {
			padding-left: 1.5em;

		}
	}

	.cbp-spmenu a {
		display: inline-block;
		color: rgba(0, 0, 0, 0.3);
		text-decoration: none;
	}

	.cbp-menu i {
		display: inline-block;
	}

	.cbp-spmenu a:hover {
		color: rgba(0, 0, 0, 1);
		-webkit-transition: all 800ms ease;
		-moz-transition: all 800ms ease;
		-ms-transition: all 800ms ease;
		-o-transition: all 800ms ease;
		transition: all 800ms ease;
	}

	.cbp-spmenu a:active {
		color: yellow;
	}


	/* Orientation-dependent styles for the content of the menu */

	.cbp-spmenu-vertical {
		width: 100%;
		height: 100px;

		z-index: 1000;
	}

	.cbp-spmenu-vertical a {
/*		padding: 1em;*/
	}


	/* Vertical menu that slides from the right */

	.cbp-spmenu-right {
		top: -100px;
	}

	.cbp-spmenu-right.cbp-spmenu-open {
		top: 0px;
	}



	/* Push classes applied to the body */

	.cbp-spmenu-push {
		overflow-x: hidden;
		position: relative;
		right: 0;
	}

	.cbp-spmenu-push-toleft {
		right: 0px;
	}

	/* Transitions */

	.cbp-spmenu,
	.cbp-spmenu-push {
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}

	/* Example media queries */


@media screen and (max-width: 1600px){

		.cbp-spmenu-horizontal {
			font-size: 70%;
			height: 110px;
		}

		.cbp-spmenu-top {
			top: -110px;
		}

		.cbp-spmenu-bottom {
			bottom: -110px;
		}

		.cbp-spmenu {
			padding-top: 2.5em;
			height: 7em;

			#nav-right a{
				padding-left: 0.5em;
			}
		}

	}

	@media screen and (max-width: 767px){

		.cbp-spmenu-horizontal {
			font-size: 70%;
			height: 110px;
		}

		.cbp-spmenu-top {
			top: -110px;
		}

		.cbp-spmenu-bottom {
			bottom: -110px;
		}

		.cbp-spmenu {
			padding-top: 0;
			height: 7em;
			display: inline-block;

			#nav-left {
				font-size: 0%;
			}

			#nav-right {
				margin-top: -1.5em;
				margin-left: 0;

				a {
					padding-left: 1em;
				}
			}
		}

	}

	@media screen and (max-height: 26.375em){

		.cbp-spmenu-vertical {
			font-size: 90%;
			width: 190px;
		}

		.cbp-spmenu-left,
		.cbp-spmenu-push-toleft {
			left: -190px;
		}

		.cbp-spmenu-right {
			right: -190px;
		}

		.cbp-spmenu-push-toright {
			left: 190px;
		}

		.cbp-spmenu {

			#nav-left {
			display: block;
		}
		}
	}

	/* index.html */

	#splash {
		top: 15em;

		h1 {
			font-size: 8em;
			left: 0;
			letter-spacing: -0.005em;
			font-weight: 300;
			color: #3d3d3d;
		}

		h1.subheading {
			font-size: 3.5em;
			text-align: right;

			line-height: 130%;
			color: #3d3d3d;
			right: 0;
			font-family: "Lora", serif;

			a {
				color: black;
		}
	}

	}


	.block-medium{
		height: 45em;
	}

	.item{
		position: relative;
		cursor: pointer;
		width: 100%;
		height: 100%;

		h1 {
			position: absolute;
			top: 50%; left: 50%;
			transform: translateX(-50%) translateY(-50%);
			color: #fff;
			font-size: 3em;
			font-family: 'Lora', Serif;
			font-style: italic;
		}
	}

	.hideme {
		opacity: 0;
	}

	.item-desc {
		position: absolute;
		top: 0; bottom: 0; right: 0; left: 0;
		opacity: 0;
		background-color: black;
/*				background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJUlEQVQIW2NkwAT/GdHE/jMwMDAiC4IFQIpggjABuEq4CqhR/wEbSQcEINihPwAAAABJRU5ErkJggg==			) repeat;*/
		transition: 0.4s ease-out;
	}

	.item:hover, .item:focus {
		.item-desc {
			opacity: 1;
		}
	}


	.block-desc{
		background-color: #000000;
		display: table;
		position: relative;

		p {
			position: absolute;
			top: 50%; left: 50%;
			transform: translateX(-50%) translateY(-50%);
			color: #fff;
			font-size: 1.2em;
			font-family: 'Lora', Serif;
			font-style: italic;
			text-align: left;
		}

	}


	/*about.html*/

	.section-about {
		background-color: #ffffff;
		width: 100%;
		height:auto;
		padding-top: 4em;

		p {
			font-family: 'Lora', serif;
			font-weight: 400;
			font-size: 1.2em;
		}



	}





	/*work.html*/

	.banner {
		height: 25em;
		width: 100%;
		background-color: #efefef;
/*		background:url(
			data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAALElEQVQIW3XLyQkAAAgDwaT/ohUFxXO/wxJ/wscEAC90sGliwsQGFRcEnmCov04HB6JhP6YAAAAASUVORK5CYII=			) repeat;*/
		position: fixed;
		z-index: 100;

		.title{
			position: absolute;
			height: 40%;
			width: 100%;
			bottom: 0;
		}

		h1 {
			position: relative;
			font-family: "Source Sans Pro", sans-serif;
			font-weight: 400;
			bottom: 0;
			font-size: 6.5em;
		}
	}


	.section-work {
		background-color: #ffffff;
		width: 100%;
		height:auto;
		padding-top: 4em;

		h2 {
			padding-top: 1.5em;
			padding-bottom: 0.8em;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 300;
			font-size: 4.5em;
		}


		p {
			font-family: 'Lora', serif;
/*			font-family: "Source Sans Pro", sans-serif;*/
			line-height: 2em;
			font-size: 1.5em;
			letter-spacing: 0.03em;
			padding-bottom: 0.5em;
		}


			p.typenexa {
			font-family: 'nexa_boldregular', sans-serif;
			line-height: 1.5em;
			font-size: 1.3em;
		}


			p.typelora {
			font-family: 'lora', serif;
			font-style: italic;
			line-height: 1.5em;
			font-size: 1.3em;
		}

			p.typeopensans {
			font-family: 'Open Sans', sans-serif;
			line-height: 1.5em;
			font-size: 1.3em;
		}





		#section-caption {
			color: #bdc3c7;
			font-family: "Lora", sans-serif;
			font-style: italic;
			font-size: 1.5em;
			margin-bottom: -0.5em;
		}

		figcaption {
			padding-bottom: 1em;
			color: #3d3d3d;
			font-size: 1em;
			text-align: center;
		}

		figure {
			padding-top: 1em;
			padding-bottom: 1em;
		}
	}


	.back-next {
		background-color: #ffffff;
		height: 3em;
		a {
			text-decoration: none;
			color: #000000;
			opacity: 0.1;
			font-family: "Lora", serif;
			font-style: italic;
		}

		h1 {
			font-size: 3em;
		}

		a:hover {
			opacity: 0.7;
			-webkit-transition: all 800ms ease;
			-moz-transition: all 800ms ease;
			-ms-transition: all 800ms ease;
			-o-transition: all 800ms ease;
			transition: all 800ms ease;
		}
	}

	#iphone {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

/*	// Responsive*/

	@media only screen and (max-width: 1600px) {

		.block-medium {
			height: 30em;
		}

		.item {
			h1 {
				font-size: 2em;
			}
		}

		.banner {

			.title{
				position: absolute;
				height: 30%;
				width: 100%;
				bottom: 0;
			}

			h1 {
				font-size: 5em;
			}
		}

		section {
			top: 35em;
		}

		#splash {

			top: 10em;
			h1 {
				font-size: 6em;
			}

			h1.subheading {
				font-size: 2em;
			}


		}


	}

	@media only screen and (max-width: 767px) {

		.show {
			opacity: 1;
		}


		.block-medium {
			height: 30em;
		}

		.item {
			h1 {
				font-size: 2em;
			}
		}

		.banner {

			.title{
				position: absolute;
				height: 30%;
				width: 100%;
				bottom: 0;
			}
			h1 {
				font-size: 3.5em;
			}
		}

		section {
			top: 29em;
		}
		#splash {
			top: 5em;
			h1 {
				font-size: 4em;
			}

			h1.subheading {
				margin-top: -2.3em;
				font-size: 1.5em;
				text-align: left;
			}
		}

		.section-about {

			padding-top: 0;

			img {
				display: block;
				margin-left: auto;
				margin-right: auto
			}
		}

		.section-work {
			padding-top: 1em;
		}

	}